/* Write your CSS here */
.total-balance-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
.total-amount-text {
  font-size: 20px;
  color: gray;
  line-height: 0;
}
.total-amount {
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.checkout-button {
  color: white;
  background-color: blue;
  width: 200px;
  height: 35px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
